In [1]:
import pandas as pandas
import numpy
import matplotlib.pyplot as plt
import os

DATA_PATH = os.path.join("names")

##Задача 1

In [167]:
def count_top_3(years):
    years_to_concat = []
    for year in years:
        result = pandas.read_csv(DATA_PATH + "/yob" + year + ".txt",
                                names = ["Name", "Gender", "Count"])
        years_to_concat.append(result)
    all_years = pandas.concat(years_to_concat).groupby("Name").sum().sort_values(by='Count', ascending=False).head(3).reset_index()
    top_names = list(all_years["Name"])
    print(top_names)

In [171]:
count_top_3(["1880", "1940", "2000"])

['James', 'John', 'Robert']

##Задача 2

In [170]:
def count_dynamics(years):
    for year in years:
        result = pandas.read_csv(DATA_PATH + "/yob" + year + ".txt",
                                names = ['Name', 'Gender', 'Count'])
        male_names = result[result.Gender=='M'].Count.sum()
        female_names = result[result.Gender=='F'].Count.sum()
        print("Количество мужских имен в {} году: {}".format(year, male_names))
        print("Количество женских имен в {} году: {}".format(year, female_names))
        print("------------------")

In [68]:
count_dynamics(["1900", "1910", "1920", "1930", "1940", "1950"])

Количество мужских имен в 1900 году: 150486
Количество женских имен в 1900 году: 299810
------------------
Количество мужских имен в 1910 году: 194215
Количество женских имен в 1910 году: 396502
------------------
Количество мужских имен в 1920 году: 1064417
Количество женских имен в 1920 году: 1198288
------------------
Количество мужских имен в 1930 году: 1097258
Количество женских имен в 1930 году: 1125853
------------------
Количество мужских имен в 1940 году: 1158975
Количество женских имен в 1940 году: 1143386
------------------
Количество мужских имен в 1950 году: 1790871
Количество женских имен в 1950 году: 1713259
------------------